@import 'bootstrap/scss/bootstrap.scss';

// Custom Styles
//
.woonder-orders {

	.error,
	.notice { display: none !important; }
}

// Buttons
.btn-sm {
	padding-left: 25px;
	padding-right: 25px;
}

// cards
.pk-card {
	width: 100%;
	min-width: 100% !important;
	padding: 0 !important;
	background-color: #FFFFFF;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);

	.card-status {
		border-bottom: .1rem solid #dfe3e8;
		display: flex;
		margin: 0;
		padding: 0;

		.nav-link {
			text-decoration: none;
			padding: 10px 20px;
			color: #212529;
			outline: 0;
			box-shadow: inherit !important;
			position: relative;

			&:after {
				content: "";
				display: block;
				width: 100%;
				height: 2px;
				background: transparent;
				position: absolute;
				left: 0;
				bottom: -2px;
				transition: all .3s;
			}

			&.active:after,
			&:hover:after {
				background: $blue;
			}
		}
	}

	.card-body {
		padding: 0 !important;
	}

	.card-element {
		padding: 15px;
	}
}

.form-check-input {
    position: absolute;
    margin-top: 0.3rem !important;
    margin-left: -1.25rem !important;
}

.help-text {
	display: inline-block;
	margin-top: 10px;
	line-height: 1.3;
}
